.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.chatbox {
	font-size: 30px;
	width: 100%;
	min-height: 150px;
	max-height: 200px;
	background-color: #efe2c7;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(156, 149, 149);
	border-radius: 2px;
	margin-top: -5px;
	margin-bottom: 5px;
}

.chatline {
	width: 100%;
	margin-top: 0;
	margin-bottom: 3px;
}

.form-wrapper {
	width: 100%;
	display: flex;
}

.form {
	height: 30px;
	width: 85%;
	border-radius: 5px;
}

.button {
	height: 35px;
	width: 15%;
	background-color: rgb(77, 212, 79);
	border-radius: 5px;
}

.button:hover {
	transform: scale(1.05);
	background-color: rgb(143, 236, 137);
}