.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.pseudo-button {
	width: 80%;
	height: 43px;
	background-color: rgb(134, 209, 238);
	font-size: 20px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pseudo-button:hover {
	transform: scale(1.05);
	background-color: rgb(60, 190, 241);
}

.side-bar {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review-dates {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.review-date {
	width: 33%;
	height: 30px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0px 5px 0px 5px;
}

.review-button {
	width: 80%;
	height: 40px;
	background-color: rgb(170, 161, 161);
	font-size: 22px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.review-button:hover {
	transform: scale(1.05);
	background-color: rgb(78, 224, 82);
}

.logout-button {
	margin-bottom: 60px;
}

.empty-review {
	height: 200px;
	width: 90%;
	overflow: auto;
	outline: 2px solid grey;
	padding: 5px;
}

.question-log {
	height: 100%;
	width: 100%;
}

.review-questions {
	outline: 1px solid grey;
	background-color: rgb(250, 206, 180);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review-questions:hover {
	transform: scale(1.02);
	background-color: rgb(78, 224, 82);
}

.review-questions-text {
	margin: 4px 4px 4px 4px;
}

.delete {
	height: 100%;
	width: 0px;
	margin: 0;
	display: flex;
	overflow: hidden;
	transition: width 1s;
}

.review-questions:hover .delete {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22%;
	height: 100%;
	background-color: rgb(255, 28, 28);
}

@media screen and (max-width: 1000px) {
	.review-date {
		font-size: 10px;
	}

	.pseudo-button {
		font-size: 17px;
	}
}

@media screen and (max-width: 750px) {
	.pseudo-button {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	.side-bar {
		width: 0%;
		overflow-x: hidden;
		transition: width .75s;
	}
	.full-width {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.review-dates {
		display: none;
	}

	.review-date {
		display: none;
	}

	.review-button {
		display: none;
	}

	.pseudo-button {
		font-size: 8px;
	}

	.empty-review {
		display: none;
	}
}

