.wrapper {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.toggle-container {
	margin-top: 10px;
	width: 25%;
	height: 40px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
	border-radius: 5px;
}

.toggle-options {
	width: 50%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-toggle {
	border-right: 1px solid black;
}

.right-toggle {
	border-left: 1px solid black;
}

.selected {
	background-color: rgba(0, 0, 0, 0.2);
}

.display {
	width: 100%;
	height: calc(80% - 40px);
}

.log-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	outline: 1px solid gray;
	background-color: rgb(249, 231, 231);
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 80px;
	margin-top: 40px;
}

.answer {
	word-wrap: break-word;
}

.answer-container {
	width: 100%;
	display: block;
	display: flex;
	margin: 2px auto;
	margin-top: 2px;
	padding: 0.5rem;
	border-bottom: 1px solid gainsboro;
}
