.logo {
	margin-top: 50px;
	width: 240px;
	height: auto;
}

.logo:hover {
	transform: scale(1.05);
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}


.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min(400px, 90%);
	min-width: 325px;
	height: min(400px, 90%);
	min-height: 400px;
	background: #f6d99b;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.login-element {
	width: 75%;
	font-size: 22px;
	height: 44px;
	background: #d9d9d9;
	margin-bottom: 15px;
	border-radius: 5px;
}

.drop-down-component {
	border-radius: 5px;
	width: 77%;
	font-size: 22px;
	height: 40px;
	background: #d9d9d9;
	margin-bottom: 15px;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 75%;
}

.pseudo-button {
	width: 45%;
	height: 40px;
	background-color: rgb(138, 221, 149);
	font-size: 22px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin: 0;
}

.pseudo-button:hover {
	transform: scale(1.05);
	background-color: rgb(143, 236, 137);
}
