.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min(400px, 90%);
	min-width: 325px;
	height: min(400px, 90%);
	min-height: 400px;
	background: #c49b9b;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-element {
	width: 75%;
	font-size: 22px;
	height: 44px;
	background: #d9d9d9;
	margin-bottom: 15px;
}

.login-component {
	width: 281px;
	height: 44px;
	background: #d9d9d9;
}

.pseudo-button {
	width: 75%;
	height: 40px;
	display: flex;
	background-color: rgb(246, 49, 49);
	font-size: 22px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.pseudo-button:hover {
	transform: scale(1.05);
}
