.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.header {
	display: flex;
	flex-direction: row;
	width: 80vw;
	height: 12vh;
	outline: 2px solid rgb(156, 149, 149);
	justify-content: space-between;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(156, 149, 149, 0.10);
	
}

.logo {
	justify-content: flex-start;
	width: 100px;
	height: auto;
}
.logo:hover {
	transform: scale(1.05);
}


.dino {
	width: 100px;
	height: auto;
	animation: slide 4s infinite alternate;
}

@keyframes slide {
	0% { transform: translateX(50px);}
	100% { transform: translateX(-50px);}
}

.logout {
	margin-top: 65px;
}

.question {
	color: rgb(230, 145, 95);
	text-shadow: 1px 1px grey;
	
}

.body {
	width: min(900px, 90%);
	margin: 0 auto;
}

.answer-box {
	width: 100%;
	height: 50vh;
	border: 2px solid rgb(156, 149, 149);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	background-color: #f6d99b;
}
