.logo {
	margin-top: 50px;
	width: 240px;
	height: auto;
}
.logo:hover {
	transform: scale(1.05);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.question {
	color: rgb(230, 145, 95);
	text-shadow: 1px 1px black;
	
}

.body {
	width: min(900px, 90%);
	margin: 0 auto;
}

.answer-box {
	width: 100%;
	height: 50vh;
	border: 2px solid rgb(156, 149, 149);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	background-color: #f6d99b;
}
