.container {
	background-color: cornsilk;
	width: 100%;
	height: 100%;
}

.header {
}

.body {
	width: min(900px, 90%);
	margin: 0 auto;
}

.answer-box {
	width: 100%;
	height: 50vh;
	outline: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
