* {
	font-family: 'Arima';
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background: rgb(242,238,176);
	background: radial-gradient(circle, rgb(232, 227, 153) 0%, rgba(242,240,227,1) 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
	width: 80px;
	height: 35px;
	background-color: rgb(120, 225, 173);
}
